NET "LEFT" LOC = P37;
NET "RIGHT" LOC = P32;

NET "SEVSEG_CONTROL[7]" LOC = P60;
NET "SEVSEG_CONTROL[6]" LOC = P61;
NET "SEVSEG_CONTROL[5]" LOC = P59;
NET "SEVSEG_CONTROL[4]" LOC = P57;
NET "SEVSEG_CONTROL[3]" LOC = P52;
NET "SEVSEG_CONTROL[2]" LOC = P56;
NET "SEVSEG_CONTROL[1]" LOC = P50;
NET "SEVSEG_CONTROL[0]" LOC = P49;

NET "SEVSEG_DATA[6]" LOC = P71;
NET "SEVSEG_DATA[5]" LOC = P62;
NET "SEVSEG_DATA[4]" LOC = P65;
NET "SEVSEG_DATA[3]" LOC = P72;
NET "SEVSEG_DATA[2]" LOC = P73;
NET "SEVSEG_DATA[1]" LOC = P98;
NET "SEVSEG_DATA[0]" LOC = P64;

NET "LED_OUT[9]" LOC = P77;
NET "LED_OUT[8]" LOC = P83;
NET "LED_OUT[7]" LOC = P84;
NET "LED_OUT[6]" LOC = P86;
NET "LED_OUT[5]" LOC = P89;
NET "LED_OUT[4]" LOC = P93;
NET "LED_OUT[3]" LOC = P3;
NET "LED_OUT[2]" LOC = P6;
NET "LED_OUT[1]" LOC = P13;
NET "LED_OUT[0]" LOC = P16;

NET "MCLK"	LOC = P40;